.about {
  margin: 10rem 0;
  &__header {
    font-size: 3rem;
    margin: 0 0 6rem 2rem;
  }
  &__tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  &__tile {
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    box-shadow: 0 0 10px 1px transparent;
    transition: box-shadow 0.2s;
    &--primary {
      background: $brand--primary;
      .about__tile-header, .about__tile-description {
        color: $accent;
      }
      .about__tile-header {
        text-decoration: underline;
      }
    }
    &:hover {
      box-shadow: 0 0 10px 1px rgba(125, 83, 222, 0.3);
    }
    &-header {
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: 0 0 1rem 0;
      position: relative;
      display: flex;
      align-items: center;
    }
    &-icon {
      margin: 0 0 0 1rem;
    }
    &-description {
      color: $text--secondary;
      font-size: 0.9rem;
    }
  }
}

// Media

@media screen and (max-width: 1200px) {
  .about__header {
    margin: 0 0 3rem 0;
  }
  .about__tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .about__tiles {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .about__tile {
    padding: 2rem 1rem;
  }
}
