.header {
  height: 100vh;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__content {
    width: 700px;
  }
  &__link {
    margin: 0 0 0 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #3F3D56;
    &:hover, &:focus {
      color: $brand--primary;
    }
  }
  &__title {
    font-size: 6rem;
    font-weight: 900;
  }
  &__description {
    font-size: 2rem;
    font-weight: bold;
    color: #3F3D56;
    margin: 1rem 0 1.5rem 0;
  }
  &__background {
    position: absolute;
    right: -12%;
    width: 1200px;
  }
  &__actions {
    &--mobile {
      display: none;
    }
  }
}

//Animation

#Path_1919, #Path_1920, #Path_1921 {
  transition: all 1.2s;
  will-change: transform, opacity;
  opacity: 0.007;
  &.active {
    opacity: 0.4;
  }
}

// Circles

#Ellipse_162, #Ellipse_163, #Ellipse_164,
#Ellipse_165, #Ellipse_166 {
  transition: opacity 1s;
  transition-delay: 1.2s;
  &.active {
    opacity: 1;
  }
}

#Ellipse_163 {
  transition-delay: 0.4s;
}
#Ellipse_165 {
  transition-delay: 0.6s;
}
#Ellipse_166 {
  transition-delay: 0.8s;
}
#Ellipse_164 {
  transition-delay: 1s;
}


#Ellipse_163 {
  transition-delay: 0.4s;
}

// Media

@media screen and (max-width: 1680px) {
  .header {
    &__content {
      width: 600px;
    }
    &__title {
      font-size: 4rem;
    }
    &__background {
      width: 1000px;
    }
  }
}

@media screen and (max-width: 1368px) {
  .header {
    padding: 0 2rem;
    &__content {
      width: 500px;
    }
    &__logo {
      width: 250px;
      height: auto;
    }
    &__title {
      font-size: 3rem;
    }
    &__background {
      width: 900px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10rem 0 0 0;
    margin: 0;
    &__content {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      justify-content: center;
      text-align: center;
      z-index: 1;
      position: relative;
    }
    &__logo {
      width: 200px;
      height: auto;
      margin: 0 0 1rem 0;

    }
    &__title {
      font-size: 2.5rem;
      margin: 0 0 1rem 0;
    }
    &__background {
      width: 100%;
      max-width: 800px;
      position: static;
      padding: 0 0 0 5rem;
      margin: -2rem 0 0 0;

      height: 400px;
    }
    &__description {
      font-size: 1.1rem;
      margin: 0;
    }
    &__actions {
      display: none;
      &--mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 7rem 0 0 0;
  }
}

@media screen and (max-width: 676px) {
  .header__background {
    margin: -3rem 0 0 3rem;
    padding: 0;
  }
}

@media screen and (max-width: 486px) {
  .header__background {
    margin: -5rem 0 0 3rem;
  }
}
