.fade-form-enter-active, .fade-form-leave-active {
  transition: all 0.3s ease-out;
}
.fade-form-enter, .fade-form-leave-to {
  opacity: 0;
}

.fade-page {
  &-enter-active {
    transition: all 0.5s ease-out;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}
